<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>

<%- include('../includes/content.ejs') %>
    <main>
        <% if(products.length){ %>
            <ul class="cart__item-list">
                <% products.map(prod => { %>
                    <li class="cart__item">
                        <h1><%= prod.productData.title %>[<%= prod.quantity %>]</h1>
                        <h2>Price: <%= prod.productPrice %></h2>
                        <a href="/cart-item-delete/<%= prod.productData.id %>" class="btn danger">&times;</a>
                    </li>
                    
                <% }) %>
            </ul>
            <p>Total Cost : <%= totalPrice.toFixed(2) %></p>
        <% } else { %>
            <h1>No Products in Cart!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>